[submodule "external/viewpagerindicator"]
	path = external/viewpagerindicator
	url = https://github.com/eincs/Android-ViewPagerIndicator.git
[submodule "external/fadingactionbar"]
	path = external/fadingactionbar
	url = https://github.com/eincs/FadingActionBar.git
[submodule "external/actionbarshelock"]
	path = external/actionbarshelock
	url = https://github.com/eincs/ActionBarSherlock.git
[submodule "external/pulltorefresh"]
	path = external/pulltorefresh
	url = https://github.com/eincs/Android-PullToRefresh.git
